parameters:
    cypherMethod: 'AES-256-CBC'
    iv: 'NDvQkG56aY643qQI257g'


application:
	errorPresenter: Error
	mapping:
		*: [App, Modules\*, Presenters\*Presenter]


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
